<div class="row" >
<div class="col-md-4" style="cursor: pointer;" data-ng-repeat="category in categoryList.content" >
<div class="media" data-ng-click="getCategory(category.id, null, null, true)">
	<div class="media-left media-top">
 		<h2><i class="fa fa-cube"></i></h2>
	</div>
	<div class="media-body">
		<div class="h4">{{category.categoryName}}</div>
		<div class="h4"><small>{{category.categoryCode}}</small></div>
	</div>
</div>	
</div>
</div>

	<ul class="pager col-md-12" data-ng-show="categoryList.totalPages >0 && categoryList.totalElements > 0 && categoryList.numberOfElements >0">
        <li class="previous" 
        	data-ng-click="listCategories(qualifierValue, nextAndPrevious.previous)" 
        	data-ng-class="{disabled:!nextAndPrevious.hasPrevious}" >
        		<a href="#">
        			<span class="glyphicon glyphicon-chevron-left"></span> 
        		</a>
        </li>
        <li class="text-center h4" >
		{{categoryList.number * categoryList.size}} 
		- {{(categoryList.number * categoryList.size) + categoryList.numberOfElements}} 
		/ {{categoryList.totalElements}}
		</li>
        <li class="next" 
        	data-ng-click="listCategories(qualifierValue, nextAndPrevious.next)" 
        	data-ng-class="{disabled:!nextAndPrevious.hasNext}">
        		<a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </li>
	</ul>

	<div class="alert alert-warning alert-dismissible" role="alert" data-ng-hide="categoryList.totalPages >0 || categoryList.totalElements > 0 || categoryList.numberOfElements >0">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>{{'NO_CONTENT'}}</strong> 
	</div>
