		<table class="table table-hover">
		  <tbody>
		    <tr data-ng-class="{active: userItem.id==user.id}" 
		    	data-ng-click="getUser(userItem.id)"
	 			data-ng-repeat="userItem in userList.content" >
		      <td class="h4" style="min-width:72px; width: 72px;">
		          <img class="media-object img-circle" style="width:45px" data-ng-src="{{userItem.userImageUrl}}" data-err-src="/images/user/gender64-N.png">
		      </td>
		      <td >{{userItem.userKey}}
		        <h5>{{userItem.displayName.length>0?userItem.displayName:userItem.userName}}</h5>
		      </td>
		    </tr>
		  </tbody>
		</table>

		<div class="panel panel-profile">
            <div class="panel-heading bg-danger clearfix">
                <a href="" class="pull-left profile">
                	<img class="img-circle img80_80" data-ng-src="{{userItem.userImageUrl}}" data-err-src="/images/user/gender64-N.png">
                </a>
                <h3 class="ng-binding">{{userItem.displayName.length>0?userItem.displayName:userItem.userName}}</h3>
                <p>{{userItem.userKey}}</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <i class="ti-email"></i>
                    Cras justo odio
                </li>
            </ul>
      </div>
      
      		<div class="col-md-8 col-xs-12">
		<table class="table">
		  <tbody>
		    <tr >
		      <td class="h4" style="min-width:72px; width: 72px;">
		          <img class="media-object img-circle" style="width:45px" data-ng-src="{{user.userImageUrl}}" data-err-src="/images/user/gender64-N.png">
		      </td>
		      <td >{{user.userKey}}
		        <h5>{{user.displayName.length>0?user.displayName:user.userName}}</h5>
		      </td>
		      <td><button class="btn btn-primary pull-right" data-ng-click="openForm('form-user')">Editar</button>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<div class="panel panel-default">
		<div class="panel-body">
		<p>{{user.userState}}</p>
		<p>{{user.userGender}}</p>
		</div>
		</div>
		<!-- 
displayName: null
firstName: null
id: 357
jobTitle: “"
key: 357
lastEvent: 1437260304022
lastName: null
minimalEducationRequirement: 0
minimalExperienceRequirement: 0
systemGroup: false
userBirthDate: 1437260304054
userDesc: “"
userGroupId: 36
userImageUrl: null
userType: " "
 -->
		</div>