<div class="col-md-12"><h3>Test IT</h3></div><!-- title -->

<!-- 
 ! Conteúdo principal
 !-->
<div class="col-md-12">
<div class="row">

<!-- Welcome -->
<div class="col-md-3 col-sm-12">

<div class="panel panel-default">
<div class="panel-body" >
<h2><small>Bem-vindo,</small> <span data-authorized-user data-type-name="display"></span></h2>
</div>
</div>

</div><!-- Welcome -->

<!-- Main -->
<div class="col-sm-9" >

<!-- 
 - consulta para staffMember onde o user.identity.id = staffMember.identity.id, retornando lista de projetos associada
 - 
 -->
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Meus projetos</h4>
    </div>
	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Que projeto você busca?" />
	<table ng-show="(projetos.length > 0)" class="table">
		<tr>
			<th></th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th>Data</th>
			<th>Checkin</th>
			<th>Checkout</th>
		</tr>
		<tr ng-class="{'font-weight: bold': contato.selecionado}" ng-repeat="projeto in projetos | filter:criterioDeBusca |  orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td>
				<div style="width: 20px; height: 20px;" ng-style="{'background-color': projeto.cor}">
					<input type="checkbox" ng-model="projeto.selecionado">
				</div>
			</td>
			<td>{{projeto.nome | uppercase}}</td>
			<td>{{projeto.data | date:'dd/MM/yyyy HH:mm'}}</td>
			<td>{{projeto.checkin | lowercase}}</td>
			<td>{{projeto.checkout | lowercase}}</td>
		</tr>
	</table>    
    <ul class="list-group">
		<li class="list-group-item">
		  <div class="pull-right">
		    <div class="input-group">
		      <input type="text" class="form-control" value="xx/xx/xxxx" style="width: 8em;">
			  	<span class="input-group-btn">
			    	<button class="btn btn-sm btn-info">Check-out</button>
			    </span>
			</div>		    
		  </div>
      		Um projeto
      	</li>
		<li class="list-group-item">
		  <div class="pull-right">
		    <a class="btn btn-sm btn-danger">Check-in</a>
		  </div>
      		Outro projeto
      	</li>
    </ul>
  </div>
</div>

</div>

</div>
</div>

