<!-- 
 ! Form modal
 ! -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="modalLabel">{{'STAFF_MEMBER'}}</h4>
</div><!-- modal-header-->
  		
<div class="modal-body">
	
	<form data-ng-submit="updateStaffMember()" class="form-horizontal" >
		<div class="row">	
		<div class="col-md-11">
			<div class="form-group">
				<label class="col-sm-3 control-label">{{'DOC_NAME'}}</label>
				<div class="input-group col-md-9" >
					<input type="text" 
						class="form-control" 
						data-ng-model="action.docName"/> 
				</div>				
			</div>
			<div class="form-group">
				<label  class="col-sm-3 control-label">{{'ISSUE_DATE'}}</label>
				<div class="input-group col-md-9" >
					<input type="hidden" name="issueDate"
						value="{{issueDate.getTime()}}" />
					<div data-ng-click="open($event,1)" id="issueDatePicker"
						class="input-group"
						data-ng-init="action.issueDate= ((action.issueDate>0 ? action.issueDate : dateNow.getTime()) | date:'shortDate')">
						<input type="text" class="form-control"
							data-ng-model="action.issueDate"
							data-is-open="datePicker[1]"
							data-datepicker-options="dateOptions"
							data-datepicker-popup="shortDate" data-ng-required="true"
							data-close-text="Close" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default">
								<i class="glyphicon glyphicon-th"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label  class="col-sm-3 control-label">{{'MEMBER'}}</label>
				<div class="input-group col-md-9" >
					<select id="reporterId" 
						class="form-control" name="reporterId" 
						data-ng-model="staffMember.identityId" class="form-control" >
								<option value="{{reporterOption.userId}}" data-ng-repeat="reporterOption in userList" >
									{{reporterOption.userName!=null && reporterOption.userName.length > 0?reporterOption.userName:reporterOption.userKey}}
								</option>
					</select>
				</div>
			</div>	
		</div>
	</div>
		<hr />
	
		<!-- ! Submit row !-->
		<div class="row">
			<div class="col-md-12">
				<!-- ! Submit button !-->
				<div class="pull-right"> 
					<button type="submit" name="submit" value="0" class="btn btn-primary">{{'SAVE'}}
					</button>
					<a data-dismiss="modal"  class="btn btn-default" >{{'CLOSE'}}</a>
				</div>
			</div>
		</div>
		<!-- row -->
	</form>

</div><!-- modal-body-->

