  <div class="panel panel-default" data-ng-init="setSectionTab(-1)">
 	<div class="list-group">
		<a class="list-group-item" data-ng-repeat="qualifierItem in qualifiers" data-ng-class="qualifierValue!=qualifierItem.qualifierValue" data-ng-click="setQualifier(qualifierItem)" >
			<span class="h4">{{qualifierItem.qualifierName}}</span>
		 	<span class="badge alert-danger" data-ng-show="qualifierItem.countAlerts>0">{{qualifierItem.countAlerts}}</span>  
			<span class="badge alert-warning" data-ng-show="qualifierItem.countWarnings>0 && qualifierItem.countAlerts==0">{{qualifierItem.countWarnings}}</span> 
		 	<br/><span style="font-size: 70%; color: #aaa;">{{qualifierItem.countItems}} itens</span> 
		</a>
	</div>
</div>

 